<main class="main">

  <mat-card>
    <header>
      <mat-card-title>
        <span class="material-icons">file</span> Add Proof of Payment
      </mat-card-title>
    </header>
  
<mat-card-content>
<form [formGroup]="popForm" class="form-inline" (ngSubmit)="onSubmit()">
  <br><br>
  
  <div class="row">
    <div class="col-lg-6">
      <mat-form-field>  
        <label for="name">Proof of Payment:</label>
        <br>
        <input type="file" name="PopFile" [(ngModel)]="popData.filename" class="form-control" formControlName="PopFile" (change)="selectFile($event)"> 
        <app-filechooser ></app-filechooser>
        <br>
        <small *ngIf="popForm.get('PopFile').invalid && popForm.get('PopFile').touched" class="text-danger">File is required</small>
      </mat-form-field> 
     </div>


  </div>



<br>
  <div class="addButton">
    <button type="submit" class="btn btn-success" >Submit</button>
  </div>

  </form>
</mat-card-content>
</mat-card>
</main>







<!--<div class="container">
    <h1>Proof of Payment</h1>
    <hr />

    <br>

    <input type="file" class="form-control form-control-lg" id="avatar" name="avatar" (change)="selectFile($event)">

    <app-filechooser (onFileSelect)="selectFile($event)"></app-filechooser>

    <h2 *ngIf="files.length == 1">Chosen file:</h2>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <app-infocard [info]="files[0]"></app-infocard>
          </div>
    </div>


</div> -->

