<div class="container">
    <h1>Supplier</h1>
    <hr />
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" (keyup)="searchSupplier($event)"  />
      
    </div>
    
    <br><br>

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover mat-elevation-z8" style="color: black;">

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Supplier_Name}} </td>
        </ng-container>
        <ng-container matColumnDef="Contact No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact No </th>
            <td mat-cell *matCellDef="let element"> {{element.Supplier_Phone}} </td>
        </ng-container>
        <ng-container matColumnDef="Email Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
            <td mat-cell *matCellDef="let element"> {{element.Supplier_Email}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-info" (click)="editSupplier(element)" data-toggle="modal"
                data-target="#addModal"> Update
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-danger" (click)="getID(element.Supplier_ID)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
        <td></td>
        
      <div class="container text-center">
        <button type="submit" class="btn btn-default" a routerLink="/addSupplier">Add Supplier</button>
      </div>
    </div>

    